<header>
    <div class="TopHeader row">
        <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3 text-center">
           <img src="./images/logo.jpg" class="rounded-circle cw mr-5"/>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 text-center searcBox">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" (click)="go()">
                   Go
                  </button>
                </div>
              </div>
            </form>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3 text-center">
          <ul class="rLink">
            <li class="dropdown"><a class="dropdown-toggle whC" data-toggle="dropdown" href="#">Page </a>
              <ul class="dropdown-menu">
                <li><a>link1</a></li>
                <li><a>link2</a></li>
                <li><a>link3</a></li>
              </ul>
            </li>
          </ul>
          <ul class="rLink">
            <li><span class="glyphicon glyphicon-user"></span> profile</li>
         </ul>
          </div>
    </div>
</header>
