.TopHeader{

	background-image: -webkit-linear-gradient(left, rgba(110, 148, 186, .94),
		rgba(144, 190, 12, .94));
	background-image: -moz-linear-gradient(left, rgba(110, 148, 186, .94),
		rgba(144, 190, 12, .94));
	background-image: -o-linear-gradient(left, rgba(110, 148, 186, .94),
		rgba(144, 190, 12, .94));
	background-image: -ms-linear-gradient(left, rgba(110, 148, 186, .94),
		rgba(144, 190, 12, .94));
	background-image: linear-gradient(to right, rgba(110, 148, 186, .94),
		rgba(144, 190, 12, .94));
}
.cw{
  width: 60px;
}
header{
  max-width: 98.9%;
}
.searcBox{
    vertical-align: middle;
    position: relative;
    top: 12px;
    clear: right;
}
.rLink{
   list-style-type: none ;
   display: inline-block;
    position: relative;
    top: 15px;
     color: white;
}
.whC{
color: white
}
