<div class="row pt-5">
   <div class=" col-xs-12 col-md-9 col-lg-9 col-xl-9 ">
      <div class="diles border fs">
         <p class="text-center text-uppercase">{{title}}</p>
            <hr class="mb-0">
            <div class="col-md-3 col-lg-3 col-xl-3 pl-0" *ngFor="let fruit of fruits">

                 <img src ="./images/uComingF/{{fruit.name}}.jpg" title="{{fruit.title}}"/>

            </div>
         </div>
      </div>
   <div class=" col-xs-12 col-md-3 col-lg-3 col-xl-3 border popular p-0">
    <div class="popularFItem">
     </div>
</div>


